<div class="index-content1">
	<%= render 'dashboard/structures/articles' %>
</div>
<div class="index-content2">
   	<%= render 'dashboard/structures/articles' %>
</div>

<div class="index-content3">
    <%= render 'dashboard/structures/articles' %>
</div>