
tmp/cache/assets/development/sprockets/ff5ad2739cedbc65c5ff0eba863b843c

*.log

tmp/cache/assets/development/sprockets/4b05069af7f971ea8bd913397eb25087

*.log

log/development.log

*.log

*.scssc

*.scssc
