
        <div id='main-content-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <h1 class='title'>
                  Portfolio
                  <small>Portfolio with 3 columns</small>
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div id='main-content'>
          <div class='container'>
            <div class='row' id='portfolio-filter'>
              <div class='col-sm-12'>
                <ul class='nav nav-pills'>
                  <li class='active'><a data-filter="*" href="#">All</a></li>
                  <li><a data-filter=".portfolio-filter-photography" href="#">Photography</a></li>
                  <li><a data-filter=".portfolio-filter-identity" href="#">Identity</a></li>
                  <li><a data-filter=".portfolio-filter-webdesign" href="#">Webdesign</a></li>
                  <li><a data-filter=".portfolio-filter-marketing" href="#">Marketing</a></li>
                </ul>
              </div>
            </div>
            <div class='row portfolio-boxes' id='portfolio-container'>
              <div class='col-sm-4 portfolio-box portfolio-filter-photography portfolio-item'>
                <a href='portfolio_detail.html'>
                  <div class='image-link'>
                    <i class='fa-icon-search'></i>
                    <img class="img-responsive img-rounded center-block" alt="Etiam vestibulum" width="360" height="235" src="assets/images/demo/portfolio/1.jpg" />
                  </div>
                  <h3 class='title'>Etiam vestibulum</h3>
                  <p class='category'>Photography</p>
                </a>
              </div>
              <div class='col-sm-4 portfolio-box portfolio-filter-webdesign portfolio-item'>
                <a href='portfolio_detail.html'>
                  <div class='image-link'>
                    <i class='fa-icon-search'></i>
                    <img class="img-responsive img-rounded center-block" alt="Malesuada" width="360" height="235" src="assets/images/demo/portfolio/2.jpg" />
                  </div>
                  <h3 class='title'>Malesuada</h3>
                  <p class='category'>Webdesign</p>
                </a>
              </div>
              <div class='col-sm-4 portfolio-box portfolio-filter-identity portfolio-item'>
                <a href='portfolio_detail.html'>
                  <div class='image-link'>
                    <i class='fa-icon-search'></i>
                    <img class="img-responsive img-rounded center-block" alt="Dictum vulputate" width="360" height="235" src="assets/images/demo/portfolio/3.jpg" />
                  </div>
                  <h3 class='title'>Dictum vulputate</h3>
                  <p class='category'>Identity</p>
                </a>
              </div>
              <div class='col-sm-4 portfolio-box portfolio-filter-marketing portfolio-item'>
                <a href='portfolio_detail.html'>
                  <div class='image-link'>
                    <i class='fa-icon-search'></i>
                    <img class="img-responsive img-rounded center-block" alt="Semper massa" width="360" height="235" src="<%= asset_path ("logo.png")%>" />
                  </div>
                  <h3 class='title'>Semper massa</h3>
                  <p class='category'>Marketing</p>
                </a>
              </div>
              <div class='col-sm-4 portfolio-box portfolio-filter-photography portfolio-filter-webdesign portfolio-item'>
                <a href='portfolio_detail.html'>
                  <div class='image-link'>
                    <i class='fa-icon-search'></i>
                    <img class="img-responsive img-rounded center-block" alt="Lorem ipsum" width="360" height="235" src="assets/images/demo/portfolio/5.jpg" />
                  </div>
                  <h3 class='title'>Lorem ipsum</h3>
                  <p class='category'>Photography, Webdesign</p>
                </a>
              </div>
              <div class='col-sm-4 portfolio-box portfolio-filter-identity portfolio-item'>
                <a href='portfolio_detail.html'>
                  <div class='image-link'>
                    <i class='fa-icon-search'></i>
                    <img class="img-responsive img-rounded center-block" alt="Pellentesque" width="360" height="235" src="assets/images/demo/portfolio/6.jpg" />
                  </div>
                  <h3 class='title'>Pellentesque</h3>
                  <p class='category'>Identity</p>
                </a>
              </div>
              <div class='col-sm-4 portfolio-box portfolio-filter-webdesign portfolio-item'>
                <a href='portfolio_detail.html'>
                  <div class='image-link'>
                    <i class='fa-icon-search'></i>
                    <img class="img-responsive img-rounded center-block" alt="Malesuada" width="360" height="235" src="assets/images/demo/portfolio/7.jpg" />
                  </div>
                  <h3 class='title'>Malesuada</h3>
                  <p class='category'>Webdesign</p>
                </a>
              </div>
              <div class='col-sm-4 portfolio-box portfolio-filter-marketing portfolio-item'>
                <a href='portfolio_detail.html'>
                  <div class='image-link'>
                    <i class='fa-icon-search'></i>
                    <img class="img-responsive img-rounded center-block" alt="Cullamcorper" width="360" height="235" src="assets/images/demo/portfolio/8.jpg" />
                  </div>
                  <h3 class='title'>Cullamcorper</h3>
                  <p class='category'>Marketing</p>
                </a>
              </div>
              <div class='col-sm-4 portfolio-box portfolio-filter-identity portfolio-filter-marketing portfolio-item'>
                <a href='portfolio_detail.html'>
                  <div class='image-link'>
                    <i class='fa-icon-search'></i>
                    <img class="img-responsive img-rounded center-block" alt="Etiam posuere" width="360" height="235" src="assets/images/demo/portfolio/9.jpg" />
                  </div>
                  <h3 class='title'>Etiam posuere</h3>
                  <p class='category'>Identity, Marketing</p>
                </a>
              </div>
            </div>
          </div>
        </div>