<!-- UI eleven -->
<div class="ui-11">
	<div class="container">
		<!-- UI content -->
		<div class="block-content">
			<div class="menu-container">
				<div class="row">
				
					<div class="col-md-6">	
						<!-- Drop down menu -->
						<div class="dd-menu dd-one">
							<a class="dd-link" href="#">
								<!-- Image -->
								<div class="img-container">
									<img class="img-responsive dd-img" src="img/user/1.jpg" alt="" />
								</div>
								<!-- Heading -->
								<h3>Dropdown Menu #1</h3>
								<div class="clearfix"></div>
							</a>
							<div class="dd-dropdown">
								<ul class="list-unstyled" role="menu">
									<li>
										<a href="#">
											<i class="fa fa-bell pull-left"></i> 
											Notification
											<span class="label label-danger pull-right">3</span>
											<div class="clearfix"></div>
										</a>								
									</li>
									<li>
										<a href="#">
											<i class="fa fa-paper-plane-o"></i> Events
										</a>								
									</li>
									<li>
										<a href="#">
											<i class="fa fa-share-alt pull-left"></i> 
											Likes & Shares
											<span class="label label-danger pull-right">2</span>
											<div class="clearfix"></div>
										</a>								
									</li>
									<li>
										<a href="#">
											<i class="fa fa-user pull-left"></i> 
											New Friends
											<span class="label label-danger pull-right">2</span>
											<div class="clearfix"></div>
										</a>								
									</li>
									<li>
										<a href="#">
											<i class="fa fa-comment-o pull-left"></i> 
											Messages
											<span class="label label-danger pull-right">1</span>
											<div class="clearfix"></div>
										</a>								
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">	
						<!-- Drop down menu -->
						<div class="dd-menu dd-two">
							<a class="dd-link" href="#">
								<!-- Image -->
								<div class="img-container">
									<img class="img-responsive dd-img" src="img/user/2.jpg" alt="" />
								</div>
								<!-- Heading -->
								<h3>Dropdown Menu #2</h3>
								<div class="clearfix"></div>
							</a>
							<div class="dd-dropdown">
								<ul class="list-unstyled dd-sm" role="menu">
									<li>
										<div class="row">
											<div class="col-md-6 col-sm-6">
												<!-- First Block -->
												<div class="dd-item">
													<!-- Heading -->
													<h4>Loren Gypsum Dolores</h4>
													<!-- Image -->
													<img class="img-responsive" src="img/work/1.jpg" alt="" />
													<!-- paragraph -->
													<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cons eq uuntur magni dolores eos.</p>
													<a class="btn btn-default btn-sm" href="#">Read More</a>
												</div>
											</div>
											<div class="col-md-6 col-sm-6">
												<!-- Second Block -->
												<div class="dd-item">
													<!-- Heading -->
													<h4>Loren Gypsum Dolores</h4>
													<!-- Image -->
													<img class="img-responsive" src="img/work/2.jpg" alt="" />
													<!-- paragraph -->
													<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cons eq uuntur magni dolores eos.</p>
													<a class="btn btn-default btn-sm" href="#">Read More</a>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">	
						<!-- Drop down menu -->
						<div class="dd-menu dd-three">
							<a class="dd-link" href="#">
								<!-- Image -->
								<div class="img-container">
									<i class="fa fa-bar-chart-o dd-icon"></i>
								</div>
								<!-- Heading -->
								<h3>Dropdown Menu #3</h3>
								<div class="clearfix"></div>
							</a>
							<div class="dd-dropdown">
								<ul class="list-unstyled dd-sm" role="menu">
									<li>
										<!-- First Block -->
										<div class="dd-item">
											<div class="table-responsive">
												<table class="table table-bordered">
													<tr>
														<th>Domain</th>
														<td>Example.com</td>
														<th>Domain</th>
														<td>Example.com</td>
													</tr>
													<tr>
														<th>Host Address</th>
														<td><span class="label label-success">127.189.18.203</span></td>
														<th>Host Address</th>
														<td><span class="label label-danger">127.189.18.203</span></td>
													</tr>
													<tr>
														<th>FTP</th>
														<td>ftp@admin.host.com</td>
														<th>FTP</th>
														<td>ftp@admin.host.com</td>
													</tr>
													<tr>
														<th>Root</th>
														<td>host/www/</td>
														<th>Root</th>
														<td>host/www/</td>
													</tr>
													<tr>
														<th>Database</th>
														<td>MySql, MS Access</td>
														<th>Database</th>
														<td>MySql, MS Access</td>
													</tr>
												</table>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">	
						<!-- Drop down menu -->
						<div class="dd-menu dd-four">
							<a class="dd-link" href="#">
								<!-- Image -->
								<div class="img-container">
									<i class="fa fa-paper-plane dd-icon"></i>
								</div>
								<!-- Heading -->
								<h3>Dropdown Menu #4</h3>
								<div class="clearfix"></div>
							</a>
							<div class="dd-dropdown">
								<ul class="list-unstyled" role="menu">
									<li>
										<span class="dd-title">Navigation</span>
										<!-- Drop-down links -->
										<div class="dd-dropdown-link">
											<a href="#"><i class="fa fa-home lblue"></i>Home</a>
											<a href="#"><i class="fa fa-info-circle lblue"></i>About</a>
											<a href="#"><i class="fa fa-cube lblue"></i>Pricing</a>
											<a href="#"><i class="fa fa-paper-plane lblue"></i>Feature</a>
											<a href="#"><i class="fa fa-gear lblue"></i>Service</a>
											<a href="#"><i class="fa fa-phone-square lblue"></i>Contact</a>
											<div class="clearfix"></div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">	
						<!-- Drop down menu -->
						<div class="dd-menu dd-five">
							<a class="dd-link" href="#">
								<!-- Image -->
								<div class="img-container">
									<img class="img-responsive dd-img" src="img/user/5.jpg" alt="" />
								</div>
								<!-- Heading -->
								<h3>Dropdown Menu #5</h3>
								<div class="clearfix"></div>
							</a>
							<div class="dd-dropdown">
								<ul class="list-unstyled dd-sm" role="menu">
									<li>
										<!-- Drop-down form -->
										<div class="dd-form">
											<!-- Heading -->
											<h4>Registration Form</h4>
											<form role="form">
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="form-group">
															<label class="control-label" for="input1">Full Name</label>
															<input type="text" class="form-control" id="input1" placeholder="Name">
														</div>
														<div class="form-group">
															<label class="control-label" for="input2">Email Id</label>
															<input type="text" class="form-control" id="input2" placeholder="Email">
														</div>
														<div class="form-group">
															<label class="control-label" for="input3">Password</label>
															<input type="password" class="form-control" id="input3" placeholder="Password">
														</div>
													</div>
													<div class="col-md-6 col-sm-6">
														<div class="form-group">
															<label class="control-label" for="input4">Re-Password</label>
															<input type="password" class="form-control" id="input4" placeholder="Re-Password">
														</div>
														<label class="control-label" for="input4">Your Choice</label>
														<select class="form-control">
														  <option>1</option>
														  <option>2</option>
														  <option>3</option>
														  <option>4</option>
														  <option>5</option>
														</select>
														<div class="checkbox">
														  <label>
															<input type="checkbox"> Accept terms & conditions
														  </label>
														</div>
														<div class="form-group">
															<button type="submit" class="btn btn-default">Register</button> &nbsp;
															<button type="reset" class="btn btn-default">Reset</button>
														</div>
													</div>
												</div>
											</form>
											<p>You have an account? <a href="#">Click to Login</a></p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">	
						<!-- Drop down menu -->
						<div class="dd-menu dd-six">
							<a class="dd-link" href="#">
								<!-- Image -->
								<div class="img-container">
									<img class="img-responsive dd-img" src="img/user/6.jpg" alt="" />
								</div>
								<!-- Heading -->
								<h3>Dropdown Menu #6</h3>
								<div class="clearfix"></div>
							</a>
							<div class="dd-dropdown">
								<ul class="list-unstyled" role="menu">
									<li>
										<div class="dd-head">
											<h2>Coolest Dropdown Ever!!!</h2>
										</div>
										<div class="dd-body">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolorit in voluptate velit esse cillum dolore eu.</p>
										</div>
										<div class="dd-foot">
											<a class="btn btn-white btn-sm">Read More</a>
											<div class="clearfix"></div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<!-- UI eleven end -->
<!-- UI eleven -->
<div class="ui-11">
	<div class="container">
		<!-- UI content -->
		<div class="block-content">
			<div class="menu-container">
				<div class="row">
				
					<div class="col-md-6">	
						<!-- Drop down menu -->
						<div class="dd-menu dd-one">
							<a class="dd-link" href="#">
								<!-- Image -->
								<div class="img-container">
									<img class="img-responsive dd-img" src="img/user/1.jpg" alt="" />
								</div>
								<!-- Heading -->
								<h3>Dropdown Menu #1</h3>
								<div class="clearfix"></div>
							</a>
							<div class="dd-dropdown">
								<ul class="list-unstyled" role="menu">
									<li>
										<a href="#">
											<i class="fa fa-bell pull-left"></i> 
											Notification
											<span class="label label-danger pull-right">3</span>
											<div class="clearfix"></div>
										</a>								
									</li>
									<li>
										<a href="#">
											<i class="fa fa-paper-plane-o"></i> Events
										</a>								
									</li>
									<li>
										<a href="#">
											<i class="fa fa-share-alt pull-left"></i> 
											Likes & Shares
											<span class="label label-danger pull-right">2</span>
											<div class="clearfix"></div>
										</a>								
									</li>
									<li>
										<a href="#">
											<i class="fa fa-user pull-left"></i> 
											New Friends
											<span class="label label-danger pull-right">2</span>
											<div class="clearfix"></div>
										</a>								
									</li>
									<li>
										<a href="#">
											<i class="fa fa-comment-o pull-left"></i> 
											Messages
											<span class="label label-danger pull-right">1</span>
											<div class="clearfix"></div>
										</a>								
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">	
						<!-- Drop down menu -->
						<div class="dd-menu dd-two">
							<a class="dd-link" href="#">
								<!-- Image -->
								<div class="img-container">
									<img class="img-responsive dd-img" src="img/user/2.jpg" alt="" />
								</div>
								<!-- Heading -->
								<h3>Dropdown Menu #2</h3>
								<div class="clearfix"></div>
							</a>
							<div class="dd-dropdown">
								<ul class="list-unstyled dd-sm" role="menu">
									<li>
										<div class="row">
											<div class="col-md-6 col-sm-6">
												<!-- First Block -->
												<div class="dd-item">
													<!-- Heading -->
													<h4>Loren Gypsum Dolores</h4>
													<!-- Image -->
													<img class="img-responsive" src="img/work/1.jpg" alt="" />
													<!-- paragraph -->
													<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cons eq uuntur magni dolores eos.</p>
													<a class="btn btn-default btn-sm" href="#">Read More</a>
												</div>
											</div>
											<div class="col-md-6 col-sm-6">
												<!-- Second Block -->
												<div class="dd-item">
													<!-- Heading -->
													<h4>Loren Gypsum Dolores</h4>
													<!-- Image -->
													<img class="img-responsive" src="img/work/2.jpg" alt="" />
													<!-- paragraph -->
													<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cons eq uuntur magni dolores eos.</p>
													<a class="btn btn-default btn-sm" href="#">Read More</a>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">	
						<!-- Drop down menu -->
						<div class="dd-menu dd-three">
							<a class="dd-link" href="#">
								<!-- Image -->
								<div class="img-container">
									<i class="fa fa-bar-chart-o dd-icon"></i>
								</div>
								<!-- Heading -->
								<h3>Dropdown Menu #3</h3>
								<div class="clearfix"></div>
							</a>
							<div class="dd-dropdown">
								<ul class="list-unstyled dd-sm" role="menu">
									<li>
										<!-- First Block -->
										<div class="dd-item">
											<div class="table-responsive">
												<table class="table table-bordered">
													<tr>
														<th>Domain</th>
														<td>Example.com</td>
														<th>Domain</th>
														<td>Example.com</td>
													</tr>
													<tr>
														<th>Host Address</th>
														<td><span class="label label-success">127.189.18.203</span></td>
														<th>Host Address</th>
														<td><span class="label label-danger">127.189.18.203</span></td>
													</tr>
													<tr>
														<th>FTP</th>
														<td>ftp@admin.host.com</td>
														<th>FTP</th>
														<td>ftp@admin.host.com</td>
													</tr>
													<tr>
														<th>Root</th>
														<td>host/www/</td>
														<th>Root</th>
														<td>host/www/</td>
													</tr>
													<tr>
														<th>Database</th>
														<td>MySql, MS Access</td>
														<th>Database</th>
														<td>MySql, MS Access</td>
													</tr>
												</table>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">	
						<!-- Drop down menu -->
						<div class="dd-menu dd-four">
							<a class="dd-link" href="#">
								<!-- Image -->
								<div class="img-container">
									<i class="fa fa-paper-plane dd-icon"></i>
								</div>
								<!-- Heading -->
								<h3>Dropdown Menu #4</h3>
								<div class="clearfix"></div>
							</a>
							<div class="dd-dropdown">
								<ul class="list-unstyled" role="menu">
									<li>
										<span class="dd-title">Navigation</span>
										<!-- Drop-down links -->
										<div class="dd-dropdown-link">
											<a href="#"><i class="fa fa-home lblue"></i>Home</a>
											<a href="#"><i class="fa fa-info-circle lblue"></i>About</a>
											<a href="#"><i class="fa fa-cube lblue"></i>Pricing</a>
											<a href="#"><i class="fa fa-paper-plane lblue"></i>Feature</a>
											<a href="#"><i class="fa fa-gear lblue"></i>Service</a>
											<a href="#"><i class="fa fa-phone-square lblue"></i>Contact</a>
											<div class="clearfix"></div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">	
						<!-- Drop down menu -->
						<div class="dd-menu dd-five">
							<a class="dd-link" href="#">
								<!-- Image -->
								<div class="img-container">
									<img class="img-responsive dd-img" src="img/user/5.jpg" alt="" />
								</div>
								<!-- Heading -->
								<h3>Dropdown Menu #5</h3>
								<div class="clearfix"></div>
							</a>
							<div class="dd-dropdown">
								<ul class="list-unstyled dd-sm" role="menu">
									<li>
										<!-- Drop-down form -->
										<div class="dd-form">
											<!-- Heading -->
											<h4>Registration Form</h4>
											<form role="form">
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="form-group">
															<label class="control-label" for="input1">Full Name</label>
															<input type="text" class="form-control" id="input1" placeholder="Name">
														</div>
														<div class="form-group">
															<label class="control-label" for="input2">Email Id</label>
															<input type="text" class="form-control" id="input2" placeholder="Email">
														</div>
														<div class="form-group">
															<label class="control-label" for="input3">Password</label>
															<input type="password" class="form-control" id="input3" placeholder="Password">
														</div>
													</div>
													<div class="col-md-6 col-sm-6">
														<div class="form-group">
															<label class="control-label" for="input4">Re-Password</label>
															<input type="password" class="form-control" id="input4" placeholder="Re-Password">
														</div>
														<label class="control-label" for="input4">Your Choice</label>
														<select class="form-control">
														  <option>1</option>
														  <option>2</option>
														  <option>3</option>
														  <option>4</option>
														  <option>5</option>
														</select>
														<div class="checkbox">
														  <label>
															<input type="checkbox"> Accept terms & conditions
														  </label>
														</div>
														<div class="form-group">
															<button type="submit" class="btn btn-default">Register</button> &nbsp;
															<button type="reset" class="btn btn-default">Reset</button>
														</div>
													</div>
												</div>
											</form>
											<p>You have an account? <a href="#">Click to Login</a></p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">	
						<!-- Drop down menu -->
						<div class="dd-menu dd-six">
							<a class="dd-link" href="#">
								<!-- Image -->
								<div class="img-container">
									<img class="img-responsive dd-img" src="img/user/6.jpg" alt="" />
								</div>
								<!-- Heading -->
								<h3>Dropdown Menu #6</h3>
								<div class="clearfix"></div>
							</a>
							<div class="dd-dropdown">
								<ul class="list-unstyled" role="menu">
									<li>
										<div class="dd-head">
											<h2>Coolest Dropdown Ever!!!</h2>
										</div>
										<div class="dd-body">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolorit in voluptate velit esse cillum dolore eu.</p>
										</div>
										<div class="dd-foot">
											<a class="btn btn-white btn-sm">Read More</a>
											<div class="clearfix"></div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
