<footer id='footer'>
	<div id='footer-main'>
	  <div class='container'>
	    <div class='row'>
	      <div class='col-md-3 col-sm-6 info-box'>
	        <h2 class='title'>About us</h2>
	        <p class='no-mg-b'>Integer vulputate porta augue, sit amet interdum tellus commodo et. Sed volutpat neque vel turpis ultrices sini bibendum. Aliquam quis malesuada.</p>
	      </div>
	      <div class='col-md-3 col-sm-6 info-box'>
	        <h2 class='title'>Contact</h2>
	        <div class='icon-boxes'>
	          <div class='icon-box'>
	            <div class='icon icon-wrap'>
	              <i class='fa-icon-map-marker'></i>
	            </div>
	            <div class='content'>
	              4567 Street name,
	              <br>
	              012 12 City name, Country
	            </div>
	          </div>
	          <div class='icon-box'>
	            <div class='icon icon-wrap'>
	              <i class='fa-icon-phone'></i>
	            </div>
	            <div class='content'>
	              <a href='tel:+012345678'>+012 345 678</a>
	            </div>
	          </div>
	          <div class='icon-box'>
	            <div class='icon icon-wrap'>
	              <i class='fa-icon-envelope'></i>
	            </div>
	            <div class='content'><a href="mailto:info@bublinastudio.com">info@bublinastudio.com</a></div>
	          </div>
	          <div class='icon-box'>
	            <div class='icon icon-wrap'>
	              <i class='fa-icon-globe'></i>
	            </div>
	            <div class='content'><a href="#">www.bublinastudio.com</a></div>
	          </div>
	        </div>
	      </div>
	      <div class='col-md-3 col-sm-6 info-box'>
	        <h2 class='title'>Photostream</h2>
	        <ul class='list-unstyled list-inline image-list-box'>
	          <li>
	            <a href='#'>
	              <img alt="Jednotka" width="50" height="50" src="assets/images/demo/stream/1.jpg" />
	            </a>
	          </li>
	          <li>
	            <a href='#'>
	              <img alt="Jednotka" width="50" height="50" src="assets/images/demo/stream/2.jpg" />
	            </a>
	          </li>
	          <li>
	            <a href='#'>
	              <img alt="Jednotka" width="50" height="50" src="assets/images/demo/stream/3.jpg" />
	            </a>
	          </li>
	          <li>
	            <a href='#'>
	              <img alt="Jednotka" width="50" height="50" src="assets/images/demo/stream/4.jpg" />
	            </a>
	          </li>
	          <li>
	            <a href='#'>
	              <img alt="Jednotka" width="50" height="50" src="assets/images/demo/stream/5.jpg" />
	            </a>
	          </li>
	          <li>
	            <a href='#'>
	              <img alt="Jednotka" width="50" height="50" src="assets/images/demo/stream/6.jpg" />
	            </a>
	          </li>
	        </ul>
	      </div>
	      <div class='col-md-3 col-sm-6 info-box social-box'>
	        <h2 class='title'>Latest tweets</h2>
	        <div class='icon-boxes'>
	          <div class='icon-box'>
	            <div class='icon icon-wrap'>
	              <i class='fa-icon-twitter text-contrast'></i>
	            </div>
	            <div class='content'>
	              <p>
	                Phasellus vulputate lobortis sem. Mauris id velit in urna.
	                <br>
	                <a class='time' href='#'>
	                  <i>1 hour ago</i>
	                </a>
	              </p>
	            </div>
	          </div>
	          <div class='icon-box'>
	            <div class='icon icon-wrap'>
	              <i class='fa-icon-twitter text-contrast'></i>
	            </div>
	            <div class='content'>
	              <p>
	                Etiam luctus, dui congue tempus blandit, dui.
	                <br>
	                <a class='time' href='#'>
	                  <i>3 hours ago</i>
	                </a>
	              </p>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div id='footer-copyright'>
	  <div class='container'>
	    <div class='row'>
	      <div class='col-lg-12 clearfix'>
	        <p class='copyright'>
	          Copyright
	          &copy;
	          2013 Jednotka
	        </p>
	        <div class='links'>
	          <a class='btn btn-circle btn-medium-light btn-sm' href='#'>
	            <i class='fa-icon-twitter text-dark'></i>
	          </a>
	          <a class='btn btn-circle btn-medium-light btn-sm' href='#'>
	            <i class='fa-icon-dribbble text-dark'></i>
	          </a>
	          <a class='btn btn-circle btn-medium-light btn-sm' href='#'>
	            <i class='fa-icon-facebook text-dark'></i>
	          </a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</footer>