<header id='header'>
	<div class='container'>
	  <nav class='navbar navbar-collapsed-sm navbar-default' id='nav' role='navigation'>
	    <div class='navbar-header'>
	      <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
	        <span class='sr-only'>Toggle navigation</span>
	        <span class='icon-bar'></span>
	        <span class='icon-bar'></span>
	        <span class='icon-bar'></span>
	      </button>
	      <a class='navbar-brand' href='/'>
	        <img alt="Jednotka" width="207" height="60" src="<%=asset_path("logo.png")%>" />
	      </a>
	    </div>
	    <div class='collapse navbar-collapse navbar-header-collapse'>
	      <ul class='nav navbar-nav navbar-right'>
	        <li class='active dropdown'>
	          <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
	            <span>
	              Home
	              <i class='fa-icon-angle-down'></i>
	            </span>
	          </a>
	          <ul class='dropdown-menu' role='menu'>
	            <li class='active dropdown-submenu'>
	              <a href='index'>Home</a>
	            </li>
	            <li class=''>
	              <a href='index2'>Home 2</a>
	            </li>
	            <li class=''>
	              <a href='index3'>Home 3</a>
	            </li>
	            <li class=''>
	              <a href='boxed'>Boxed layout</a>
	            </li>
	          </ul>
	        </li>
	        <li class='dropdown'>
	          <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
	            <span>
	              Pages
	              <i class='fa-icon-angle-down'></i>
	            </span>
	          </a>
	          <ul class='dropdown-menu' role='menu'>
	            <li class=''>
	              <a href='about_us'>About us</a>
	            </li>
	            <li class=''>
	              <a href='services'>Services</a>
	            </li>
	            <li class=''>
	              <a href='faq'>FAQ</a>
	            </li>
	            <li>
	              <a href='404'>404 Error</a>
	            </li>
	            <li>
	              <a href='500'>500 Error</a>
	            </li>
	            <li>
	              <a href='coming_soon'>Coming soon</a>
	            </li>
	            <li>
	              <a href='under_construction'>Under construction</a>
	            </li>
	          </ul>
	        </li>
	        <li class='dropdown'>
	          <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
	            <span>
	              Features
	              <i class='fa-icon-angle-down'></i>
	            </span>
	          </a>
	          <ul class='dropdown-menu' role='menu'>
	            <li class=''>
	              <a href='animations'>Animations</a>
	            </li>
	            <li class=''>
	              <a href='elements'>Elements</a>
	            </li>
	            <li class=''>
	              <a href='icons'>Icons</a>
	            </li>
	            <li class=''>
	              <a href='forms'>Forms</a>
	            </li>
	            <li class=''>
	              <a href='tables'>Tables</a>
	            </li>
	            <li class=''>
	              <a href='typography'>Typography</a>
	            </li>
	            <li class=''>
	              <a href='pricing_tables'>Pricing tables</a>
	            </li>
	            <li class='dropdown-submenu'>
	              <a href='index'>
	                Submenu
	                <i class='fa-icon-angle-right'></i>
	              </a>
	              <ul class='dropdown-menu' role='menu'>
	                <li>
	                  <a href='index'>Submenu item</a>
	                </li>
	                <li>
	                  <a href='index'>Submenu item</a>
	                </li>
	                <li>
	                  <a href='index'>Submenu item</a>
	                </li>
	              </ul>
	            </li>
	          </ul>
	        </li>
	        <li class='dropdown'>
	          <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
	            <span>
	              Blog
	              <i class='fa-icon-angle-down'></i>
	            </span>
	          </a>
	          <ul class='dropdown-menu' role='menu'>
	            <li class=''>
	              <a href='blog_small'>Small image</a>
	            </li>
	            <li class=''>
	              <a href='blog_large'>Large image</a>
	            </li>
	            <li class=''>
	              <a href='blog_single_post'>Single post</a>
	            </li>
	          </ul>
	        </li>
	        <li class='dropdown'>
	          <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
	            <span>
	              Portfolio
	              <i class='fa-icon-angle-down'></i>
	            </span>
	          </a>
	          <ul class='dropdown-menu' role='menu'>
	            <li class=''>
	              <a href='portfolio'>2 columns</a>
	            </li>
	            <li class=''>
	              <a href='portfolio_three_cols'>3 columns</a>
	            </li>
	            <li class=''>
	              <a href='portfolio_four_cols'>4 columns</a>
	            </li>
	            <li class=''>
	              <a href='portfolio_detail'>Project detail</a>
	            </li>
	          </ul>
	        </li>
	        <li class='dropdown'>
	          <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
	            <span>
	              Contact
	              <i class='fa-icon-angle-down'></i>
	            </span>
	          </a>
	          <ul class='dropdown-menu' role='menu'>
	            <li class=''>
	              <a href='contact'>Contact</a>
	            </li>
	            <li class=''>
	              <a href='contact2'>Contact 2</a>
	            </li>
	            <li class=''>
	              <a href='contact3'>Contact 3</a>
	            </li>
	          </ul>
	        </li>
	      </ul>
	    </div>
	  </nav>
	</div>
</header>