<!-- / carousel blur -->
<div class='hero-carousel carousel-blur carousel-blur-arrows carousel-blur-pagination flexslider' id='carousel-example-1'>
  <ul class='slides'>
    <li class='item'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>
            <h1 class='big fadeInUp animated'>
              Fully responsive
              &amp;
              Retina ready
            </h1>
            <p class='normal fadeInUp animated'>Proin facilisis aliquam nunc quis varius.</p>
            <a class='btn btn-contrast btn-lg fadeInRight animated' href="<%=asset_path('bg.png')%>">
              Buy this theme
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class='item'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>
            <h2 class='big fadeInLeftBig animated'>
              Clean, flat
              &amp;
              polished design
            </h2>
            <p class='normal fadeInRightBig animated'>Sed felis ligula, eleifend at neque eget.</p>
            <a class='btn btn-contrast btn-lg fadeInDownBig animated' href='http://themeforest.net/item/jednotka-multipurpose-website-html-template/5689597?ref=BublinaStudio'>
              Buy this theme
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class='item'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>
            <h2 class='big fadeInRightBig animated'>Based on Twitter Bootstrap</h2>
            <p class='normal fadeInLeftBig animated'>Nam nec tellus molestie, sollicitudin, at...</p>
            <a class='btn btn-contrast btn-lg fadeInUpBig animated' href='http://themeforest.net/item/jednotka-multipurpose-website-html-template/5689597?ref=BublinaStudio'>
              Buy this theme
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>